
    .divt{
    margin: 100px auto;
    width: fit-content;
    height: fit-content;
    padding: inherit;
    border-block: solid;
    border-left: solid;
    border-right: solid;
    background-color: antiquewhite;
    border-radius: 15px;

}
label{
    margin: 10px 10px;
}

h1{
    background-color: aliceblue;
    border-block-style: inherit;
    text-align: center;
    font-style: ;
}
#btndv{
    text-align: center;
}
#btn{
    background: border-box;
    background-color: rgb(28, 119, 180);
}
.txt{
    border-block-end: unset;
    float: right;
    margin-right: 65px;
}
 